{% load static %}
{% load i18n %}

<div class="row mt-4">
    {% for playlist in playlists %}
    <div class="playlist-item col-sm-6 col-lg-4">
        <a href="{% url 'main:playlist_detail' playlist.pk %}" class="color-gray">
            <div class="position-relative pb-5">
                <div class="line-gray my-4 my-sm-5"></div>
                <div class="playlist-img scroll-wrapper scroll-wrapper-cover">
                    <div class="playlist-img scroll-inner scroll-inner-cover">
                        {% for playlist_book in playlist.playlist_book_set.all %}
                        {% if playlist_book.book.cover %}
                        <img
                            src="{{ playlist_book.book.cover }}"
                            alt="{% blocktrans with title=playlist_book.book.title %}Image of &quot;{{ title }}&quot;{% endblocktrans %}"
                            class="scroll-box scroll-box-cover"
                        >
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h3 class="mt-3">{{ playlist.title }}</h3>
                <p class="d-lg-none">{{ playlist.description | truncatechars:50 }}</p>
                <p class="d-none d-lg-inline-block">{{ playlist.description | truncatechars:35 }}</p>
                <button type="button" class="btn btn-outline-main position-absolute l-0 b-0 w-100">{% trans 'Show more' %}</button>
            </div>
        </a>
    </div>
    {% empty %}
    <div class="col-12">
        {% trans 'No playlist found. Please search by other conditions.' as text_not_found_default %}
        <h4>{{ text_not_found|default:text_not_found_default }}</h4>
    </div>
    {% endfor %}
</div>
