{% extends './base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'main/playlist/card/layouts/title.html' with size='large' %}
<div>
    {% include 'main/playlist/card/layouts/cover.html' with size='two-third' cover=playlist.playlist_book_set.all.0.book.data.large_cover %}
    <div class="d-flex">
        {% include 'main/playlist/card/layouts/cover.html' with size='one-third' cover=playlist.playlist_book_set.all.1.book.data.large_cover %}
        {% include 'main/playlist/card/layouts/chevron.html' with size='one-third' %}
    </div>
</div>

{% endblock %}
