{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container container-slim">
    <section id="playlist-create-complete">
        <h2 class="text-center mt-4 mt-md-5">{{ page_title }}</h2>
        <div class="mt-4 box-shadow border-radius">
            <img
                src="{{ playlist.og_image.url }}"
                alt="{% blocktrans with title=playlist.title %}Image of &quot;{{ title }}&quot;{% endblocktrans %}"
                width="100%"
            >
        </div>
        <div class="text-md font-weight-bold text-center mt-3">
            {% trans 'You can save this image by keeping pressing it down.' %}
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% with origin=request.scheme|add:'://'|add:request.get_host|urlencode:'' %}
                {% with absolute_url=playlist.get_absolute_url|urlencode:'' %}
                {% with text='【'|add:playlist.title|add:'】%0a'|add:playlist.description|truncatechars:80|urlencode:'%0a' %}
                {% with tags='%0a#読書好きと繋がりたい #読書 #BooxMix'|urlencode:'%0a' %}
                <a
                    href="https://twitter.com/intent/tweet?text={{ text }}{{ tags }}{% if playlist.theme and playlist.theme.name != playlist.title %}%20%23{{ playlist.theme.name|urlencode:'' }}{% endif %}&url={{ origin }}{{ absolute_url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-twitter w-100 mt-3 mt-md-5"
                    data-ga-event-category="share_self"
                    data-ga-event-action="twitter"
                >
                    <i class="fab fa-twitter"></i>&nbsp;&nbsp;{% trans 'Share on Twitter' %}
                </a>
                {% endwith %}
                {% endwith %}
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u={{ origin }}{{ absolute_url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-outline-facebook w-100 mt-4"
                    data-ga-event-category="share_self"
                    data-ga-event-action="facebook"
                >
                    <i class="fab fa-facebook"></i>&nbsp;&nbsp;{% trans 'Share on Facebook' %}
                </a>
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'main:playlist_detail' playlist.pk %}" class="btn btn-inline-sub mt-4 mt-md-5">
                {% trans 'Show detail page' %}
            </a>
        </div>
        <div class="line-gray my-4 my-md-5"></div>
        <h2 class="mt-4">{% trans 'Create one more playlist' %}</h2>
        <p>{% trans 'Let’s create another playlist by sharing your knowledge, experience and specialty.' %}</p>
        <div class="row mb-md-5">
            <div class="col-md-8 offset-md-2">
                <a href="{% url 'main:playlist_create' %}" class="btn btn-main w-100 mt-2" data-ga-event-category="create_playlist_another">
                    {% trans 'Create' %}
                </a>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script>
window.dataLayer = window.dataLayer || []
dataLayer.push({'theme': '{{ playlist.theme }}'})
</script>
{% endblock %}
