{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container container-slim">
    <section id="playlist-create-complete">
        <h2 class="text-center mt-4 mt-md-5">{{ page_title }}</h2>
        <div class="mt-4 box-shadow border-radius">
            <a href="{% url 'main:playlist_detail' playlist.pk %}" class="color-gray">
                <img src="{{ playlist.og_image.url }}" width="100%">
            </a>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% with text='【'|add:playlist.title|add:'】%0a'|add:playlist.description %}
                {% with origin=request.scheme|add:'://'|add:request.get_host %}
                {% with absolute_url=playlist.get_absolute_url %}
                <a
                    href="https://twitter.com/intent/tweet?text={{ text|truncatechars:80|iriencode }}%0a%23読書好きと繋がりたい%20%23読書%20%23BooxMix{% if playlist.theme %}%20%23{{ playlist.theme.name|urlencode }}{% endif %}&url={{ origin|urlencode }}{{ absolute_url|urlencode }}"
                    target="_blank"
                    class="btn btn-twitter w-100 mt-5"
                >
                    <i class="fab fa-twitter"></i>&nbsp;&nbsp;{% trans 'Share on Twitter' %}
                </a>
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u={{ origin|urlencode }}{{ absolute_url|urlencode }}"
                    target="_blank"
                    class="btn btn-outline-facebook w-100 mt-4"
                >
                    <i class="fab fa-facebook"></i>&nbsp;&nbsp;{% trans 'Share on Facebook' %}
                </a>
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div class="line-gray mt-5 mb-4 mb-md-5"></div>
        <h2 class="mt-4">{% trans 'Create one more playlist' %}</h2>
        <p>{% trans 'Let’s create another playlist by sharing your knowledge, experience and specialty.' %}</p>
        <div class="row mb-md-5">
            <div class="col-md-8 offset-md-2">
                <a href="{% url 'main:create_or_signup' %}" class="btn btn-main w-100 mt-2">{% trans 'Create' %}</a>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script>
dataLayer.push({'theme': '{{ playlist.theme }}'})
</script>
{% endblock %}
