{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container container-slim">
    <section id="playlist-delete">
        <h2 class="mt-4 mt-md-5">{{ page_title }}</h2>
        <form method="post">{% csrf_token %}
            <div class="text-md font-weight-bold mt-5">{% blocktrans %}Are you sure you want to delete "{{ playlist }}"?{% endblocktrans %}</div>
            <div class="text-sm mt-4">{% blocktrans %}Note: You can't cancel this action.{% endblocktrans %}</div>
            <div class="row mt-5">
                <div class="col-sm-3 offset-sm-6 order-sm-1">
                    <input type="submit" class="btn btn-sub w-100" value="{% trans 'Delete' %}">
                </div>
                <div class="col-sm-3 order-sm-0 mt-4 mt-sm-0">
                    <a
                        href="{% url 'main:playlist_update' playlist.pk %}" class="btn btn-outline-sub w-100">
                        <i class="fas fa-angle-left"></i> {% trans 'Back' %}
                    </a>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock %}
