{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block json_ld %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": ["ItemList", "WebPage"],
    "headline": "{{ page_title }}",
    "description": "{{ page_description }}",
    "url": "{{ og_url }}",
    "image": "{{ og_image }}",
    "datePublished": "{{ playlist.created_at | date:'Y-n-d\TH:i:s' }}",
    "dateModified": "{{ playlist.updated_at | date:'Y-n-d\TH:i:s' }}",
    "itemListOrder": "http://schema.org/ItemListOrderAscending",
    "numberOfItems": "{{ playlist.playlist_book_set.count }}",
    "author": {
        "@type": "Person",
        "name": "{{ playlist.user }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "BooxMix"
    },
    "itemListElement": [
        {% for playlist_book in playlist.playlist_book_set.all %}
        {
            "@type": "Book",
            "position": "{{ forloop.counter }}",
            "isbn": "{{ playlist_book.book.isbn }}",
            "name": "{{ playlist_book.book.title }}",
            "image": "{{ playlist_book.book.cover }}",
            "url": "{{ playlist_book.book.affiliate_url | default:playlist_book.book.cover }}",
            "author": {
                "@type": "Person",
                "name": "{{ playlist_book.book.author }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ playlist_book.book.publisher }}"
            }
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]
}
</script>
{% endblock %}

{% block content %}

<div class="container">
    <section id="playlist-detail-overview">
        <h1 class="mt-4 mt-md-5 playlist-detail-title">{{ page_title }}</h1>
        <div class="row no-gutters mt-3">
            <div class="col d-flex align-items-center">
                <a href="{% url 'accounts:profile' playlist.user.username %}" class="d-inline-block color-gray text-md">
                    <div class="d-flex align-items-center">
                        <img src="{{ playlist.user.get_profile_image }}" alt="{% trans 'profile image' %}" width="28px" class="round">
                        <span class="ml-2">{{ playlist.user }}</span>
                    </div>
                </a>
            </div>
            {% if request.user == playlist.user %}
            <div class="col-3 d-flex align-items-center">
                <a href="{% url 'main:playlist_update' playlist.pk %}" class="btn btn-inline-sub ml-auto">
                    {% trans 'Edit' %}
                </a>
            </div>
            {% endif %}
        </div>
        <p class="mt-4">{{ playlist.description | linebreaksbr | urlize }}</p>
        <div class="row no-gutters mt-4">
            <div class="ajax-result col text-xl">
                {% include 'main/playlists/layouts/like-button.html' with playlist_id=playlist.pk is_liked=playlist.is_liked likes_count=playlist.likes.count %}
            </div>
            <div class="col-2 col-md-1 text-right">
                {% with text='【'|add:playlist.title|add:'】%0a'|add:playlist.description|truncatechars:80|urlencode:'%0a' %}
                {% with tags='%0a#読書好きと繋がりたい #読書 #BooxMix'|urlencode:'%0a' %}
                <a
                    href="https://twitter.com/intent/tweet?text={{ text }}{{ tags }}{% if playlist.theme and playlist.theme.name != playlist.title %}%20%23{{ playlist.theme.name|urlencode:'' }}{% endif %}&url={{ og_url|urlencode:'' }}"
                    aria-label="{% trans 'Share on Twitter' %}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fab fa-twitter fa-twitter-color fa-2x" data-ga-event-category="share_nonself" data-ga-event-action="twitter"></i>
                </a>
                {% endwith %}
                {% endwith %}
            </div>
            <div class="col-2 col-md-1 text-right">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u={{ og_url|urlencode:'' }}"
                    aria-label="{% trans 'Share on Facebook' %}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fab fa-facebook fa-facebook-color fa-2x" data-ga-event-category="share_nonself" data-ga-event-action="facebook"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="playlist-detail-books">
        {% for playlist_book in playlist.playlist_book_set.all %}
        <div class="playlist-book-item">
            <div class="line-gray my-4"></div>
            <div class="row">
                <div class="col-5 col-sm-3 col-lg-2">
                    {% if playlist_book.book.cover %}
                    {% comment %}
                    if LAZY: src="{{ dummy_image }}" data-original="{{ ORIGINAL_IMAGE }}"
                    else   : src="{{ ORIGINAL_IMAGE }}"
                    {% endcomment %}
                    <img
                        src{% if not forloop.first %}="{{ dummy_image }}" data-original{% endif %}="{{ playlist_book.book.cover }}"
                        alt="{% blocktrans with title=playlist_book.book.title %}Image of &quot;{{ title }}&quot;{% endblocktrans %}"
                        width="100%"
                        {% if not forloop.first %}class="lazy"{% endif %}
                    >
                    {% else %}
                    <div class="blank-box-wrapper no-image-wrapper">
                        <div class="blank-box-content no-image-content">
                            <div class="d-flex align-items-center h-100">
                                <span class="text-sm text-center font-weight-bold w-100">{% trans 'No Image' %}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col pl-0 pl-sm-3">
                    <h2 class="text-xl">{{ forloop.counter }}. {{ playlist_book.book.title }}</h2>
                    <span>{{ playlist_book.book.author }}</span>
                    <p class="d-none d-sm-block mt-4">{{ playlist_book.description | linebreaksbr | urlize }}</p>
                    {% if playlist_book.book.affiliate_url %}
                    <a href="{{ playlist_book.book.affiliate_url }}" target=”_blank” class="btn btn-main d-sm-none w-100 mt-4 mt-sm-0">
                        {% trans 'Show more' %}
                    </a>
                    {% endif %}
                </div>
                {% if playlist_book.book.affiliate_url %}
                <div class="col-sm-3 d-none d-sm-block">
                    <a href="{{ playlist_book.book.affiliate_url }}" target=”_blank” class="btn btn-main w-100">
                        {% trans 'Show more' %}
                    </a>
                </div>
                {% endif %}
            </div>
            <p class="mt-3 d-sm-none">{{ playlist_book.description | linebreaksbr | urlize }}</p>
        </div>
        {% endfor %}
        <div class="line-gray my-4"></div>
    </section>

    <section id="playlist-detail-buttons">
        <div class="row no-gutters mt-4 mt-md-5">
            <div class="ajax-result col text-xl">
                {% include 'main/playlists/layouts/like-button.html' with playlist_id=playlist.pk is_liked=playlist.is_liked likes_count=playlist.likes.count %}
            </div>
            <div class="col-2 col-md-1 text-right">
                {% with text='【'|add:playlist.title|add:'】%0a'|add:playlist.description|truncatechars:80|urlencode:'%0a' %}
                {% with tags='%0a#読書好きと繋がりたい #読書 #BooxMix'|urlencode:'%0a' %}
                <a
                    href="https://twitter.com/intent/tweet?text={{ text }}{{ tags }}{% if playlist.theme %}%20%23{{ playlist.theme.name|urlencode:'' }}{% endif %}&url={{ og_url|urlencode:'' }}"
                    aria-label="{% trans 'Share on Twitter' %}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fab fa-twitter fa-twitter-color fa-2x" data-ga-event-category="share_nonself" data-ga-event-action="twitter"></i>
                </a>
                {% endwith %}
                {% endwith %}
            </div>
            <div class="col-2 col-md-1 text-right">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u={{ og_url|urlencode:'' }}"
                    aria-label="{% trans 'Share on Facebook' %}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fab fa-facebook fa-facebook-color fa-2x" data-ga-event-category="share_nonself" data-ga-event-action="facebook"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="playlist-detail-user">
        <h2 class="mt-5">{% trans 'Who created this playlist?' %}</h2>
        <div class="bg-gray border-radius px-2 py-3 mt-4">
            <h3>
                <a href="{% url 'accounts:profile' playlist.user.username %}" class="color-gray text-lg mt-3">
                    {{ playlist.user }}
                </a>
            </h3>
            <p class="mb-0">{{ playlist.user.comment | linebreaksbr | urlize }}</p>
            {% if playlist.user.get_twitter_link %}
            <a href="{{ playlist.user.get_twitter_link }}" aria-label="{% trans 'Twitter Account' %}" class="d-inline-block mt-3">
                <i class="fab fa-twitter fa-lg color-light-gray"></i>
            </a>
            {% endif %}
        </div>
    </section>

    {% if other_playlists %}
    <section id="playlist-detail-others">
        <div class="line-gray my-5"></div>
        <h2>
            {% if playlist.theme %}
            {% blocktrans with theme=playlist.theme.tagged_name %}Other playlists with {{ theme }}{% endblocktrans %}
            {% else %}
            {% trans 'Other playlists with free theme' %}
            {% endif %}
        </h2>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=other_playlists %}
        <a href="{% url 'main:playlist' %}{% if playlist.theme %}?theme={{ playlist.theme.slug }}{% endif %}" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?theme={{ playlist.theme.slug }}" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% if playlist.theme %}
            {% blocktrans with playlist.theme.name as theme %}Show all {{ theme }}{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
            {% else %}
            {% trans 'Show all playlists with free theme' %}&nbsp;<i class="fas fa-chevron-right"></i>
            {% endif %}
        </a>
    </section>
    {% endif %}

    <section id="playlist-detail-lets-create">
        <div class="mt-5">
            {% include 'main/playlists/layouts/lets-create-playlist.html' with theme=playlist.theme %}
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script>
const csrftoken = Cookies.get('csrftoken')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

$(document).on('click', '.like-button', function(e) {
    const link = $(this)
    const data = {
        is_liked: link.attr('data-liked'),
        count: link.attr('data-count'),
    }

    $.ajax({
        url: link.attr('data-url'),
        method: 'post',
        timeout: 10000,
        data: data,
        dataType: 'text',
    }).done(response => {
        $('.ajax-result').html(response)
    })
})

window.dataLayer = window.dataLayer || []
dataLayer.push({'theme': '{{ playlist.theme }}'})
</script>
{% endblock %}
