{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% if theme %}
{{ theme.name }}
{% else %}
{% trans 'All Playlists' %}
{% endif %}
{% endblock %}

{% block description %}
{% if theme and theme.description %}
{{ theme.description }}
{% else %}
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    {% if request.GET.q %}
    <section id="search-playlist-wide">
        <div class="mt-4">
            {% include 'main/playlists/layouts/search-playlist-wide.html' %}
        </div>
    </section>
    {% endif %}

    <section id="playlist-page-title">
        <div class="mt-4 mt-md-5">
            {% if request.GET.q %}
            <h2 class="d-none d-md-inline-block">{% blocktrans with q=request.GET.q %}Playlists related with "{{ q }}"{% endblocktrans %}</h2>
            {% elif theme %}
            <h1 class="mb-4 mb-md-5">{% blocktrans with theme=theme.name %}Playlists with #{{ theme }}{% endblocktrans %}</h1>
            {% else %}
            <h1 class="mb-4 mb-md-5">{% trans 'All Playlists' %}</h1>
            {% endif %}
        </div>
    </section>

    <section id="search-loading" class="search-loading">
        {% include 'layouts/loading-spinner.html' %}
    </section>

    <section id="playlist-list" class="search-results">
        <div class="line-gray mt-4 mb-5 d-none"></div>
        {% include 'main/playlists/layouts/list-widget.html' %}
        {% if page_obj %}
        {% include 'layouts/pagenator.html' with params=params queryset=playlists %}
        {% endif %}
    </section>

    <section id="playlist-list-lets-create">
        {% include 'main/playlists/layouts/lets-create-playlist.html' with theme=theme %}
    </section>
</div>

{% endblock %}
