{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <section id="mypage-create-playlist">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-5 heading-lg">{% blocktrans %}{{ user }}'s my page{% endblocktrans %}</h1>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <a href="{% url 'accounts:settings' %}" class="btn btn-inline-sub float-right mt-2 mt-md-5">{% trans 'Settings' %}</a>
            </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-md-8 col-lg-9">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h2>
                            {% if user.comment or user.comment %}
                            {% trans 'Update profile' %}
                            {% else %}
                            {% trans 'Add profile' %}
                            {% endif %}
                        </h2>
                        <p class="text-sm mb-0">{% trans 'Input your nickname and profile so that other users can know about you or your playlists deeply.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="d-flex align-items-center h-100">
                    <a href="{% url 'accounts:profile' user.username %}?edit=True" class="btn btn-main w-100 mt-4 mt-md-0">{% trans 'To profile' %}</a>
                </div>
            </div>
        </div>
    </section>

    {% with playlists=playlists_with_like %}
    <section id="playlist-list">
        <h2 class="mt-5">{% trans 'Your favorite playlists' %}</h2>
        {% trans "You haven't liked any playlists." as text %}
        {% include 'main/playlists/layouts/list-widget.html' with text_not_found=text playlists=playlists %}
    </section>
    {% endwith %}

    {% with playlists=user.playlist_set.all %}
    {% if playlists|length != 0 %}
    <section id="playlist-list">
        <div class="line-gray my-4 my-md-5"></div>
        <h2 class="mt-5">{% trans 'Playlists you created' %}</h2>
        {% trans "You haven't created any playlists. Enter the link below to create your first one!" as text %}
        {% include 'main/playlists/layouts/list-widget.html' with hide_user=True text_not_found=text playlists=playlists %}
    </section>
    {% endif %}

    <section id="mypage-lets-create">
        {% if playlists|length != 0 %}
        {% trans "Let's create a new playlist!" as text %}
        {% else %}
        {% trans "Let's create your first playlist!" as text %}
        {% endif %}
        {% include 'main/playlists/layouts/lets-create-playlist.html' with lets_create_text=text lazy=playlists|length %}
    </section>
    {% endwith %}

</div>

{% endblock %}
