{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'My page' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container">
    <section id="mypage-create-playlist">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-5 heading-lg">{% blocktrans %}{{ user }}'s my page{% endblocktrans %}</h1>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <a href="{% url 'accounts:settings' %}" class="btn btn-inline-sub float-right mt-2 mt-md-5">{% trans 'Settings' %}</a>
            </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-md-9">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h2>
                            {% if request.user.comment %}
                            {% trans 'Update profile' %}
                            {% else %}
                            {% trans 'Add profile' %}
                            {% endif %}
                        </h2>
                        <p class="text-sm mb-0">{% trans 'Good profile enables other users to understand your playlists deeply.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center h-100">
                    <a href="{% url 'accounts:profile' request.user.username %}" class="btn btn-outline-main w-100 mt-2 mt-md-0">{% trans 'To profile' %}</a>
                </div>
            </div>
        </div>
    </section>

    {% if request.user.playlist_set.count != 0 %}
    <section id="playlist-list">
        <h2 class="mt-5">{% blocktrans %}{{ user }}'s playlists{% endblocktrans %}</h2>
        {% trans "You haven't created any playlists. Enter the link below to create your first one!" as text %}
        {% include 'main/playlist/layouts/list-widget.html' with text_not_found=text playlists=user.playlist_set.all %}
    </section>
    {% endif %}

    <section id="mypage-lets-create">
        {% if request.user.playlist_set.count != 0 %}
        {% trans "Let's create a new playlist!" as text %}
        {% else %}
        {% trans "Let's create your first playlist!" as text %}
        {% endif %}
        {% include 'main/playlist/layouts/lets-create-playlist.html' with lets_create_text=text %}
    </section>

</div>

{% endblock %}
