{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Log in' %} | BooxMix
{% endblock %}

{% block description %}
BooxMixは、気軽に本を複数冊まとめてプレイリストを作成し、SNSでシェアできるウェブサービスです。誰もが本屋の書店員さんのようにおすすめ本を選びTwitterで共有できます。ログインしてプレイリストを作り、友達に共有しましょう。
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="login">
        <div class="row my-4 mt-md-5">
            <div class="col-6">
                <h2>{% trans 'Log in' %}</h2>
            </div>
            <div class="col-6">
                <a href="{% url 'accounts:signup' %}" class="btn btn-inline-sub float-right">{% trans 'Sign up' %}</a>
            </div>
        </div>
        {% include 'accounts/layouts/social-login.html' with mode='login' %}
        <p class="text-center">{% trans 'or' %}</p>
        {% trans 'Log in' as submit_text %}
        {% include 'layouts/form.html' with submit_text=submit_text %}
        <div class="row mt-4 mt-md-5">
            <div class="col-md-6 offset-md-3">
                <a href="{% url 'accounts:password_reset' %}" class="btn btn-inline-sub w-100">{% trans 'Did you forget your password?' %}</a>
            </div>
        </div>
    </section>
</div>

{% endblock %}
