{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Password change' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="password-change">
        <h2 class="my-4 mt-md-5">{% trans 'Password change' %}</h2>
        {% trans 'Change' as submit_text %}
        {% trans 'Back' as back_text %}
        {% include 'layouts/form-with-back.html' with submit_text=submit_text back_text=back_text  back_url='accounts:settings' %}
    </section>
</div>

{% endblock %}
