{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Email to reset password sent' %}
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="password-reset-done">
        <h2 class="mt-4 mt-md-5">{% trans 'Email to reset password sent' %}</h2>
        <p class="mt-4 mt-md-5">
            {% blocktrans %}An email to reset password has been sent.{% endblocktrans %}<br>
            {% blocktrans %}Click the link in the text to reset password.{% endblocktrans %}
        </p>
    </section>
</div>

{% endblock %}
