{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container container-slim">
    <section id="password-reset">
        <h2 class="mt-4 mt-md-5">{{ page_title }}</h2>
        <p class="my-4">{% blocktrans %}You can recieve an email to reset password by submitting the form below.{% endblocktrans %}</p>
        {% trans 'Send email' as submit_text %}
        {% trans 'Back' as back_text %}
        {% include 'layouts/form-with-back.html' with submit_text=submit_text back_text=back_text  back_url='accounts:login' %}
    </section>
</div>

{% endblock %}
