{% load i18n %}
<h2>{{ title }}</h2>

{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <th>{% trans 'Password' %}:</th>
                    <td>{{ password_text }}</td>
                    <td><a href="{% url 'accounts:password_change' %}">{{ password_link_text }}</a></td>
            </tr>
            <tr>
                <th>{% trans 'Facebook' %}:</th>
                {% if user.facebook_id %}
                    <td>{% trans 'Associated' %}</td>
                {% else %}
                    <td>{% trans 'Not associated' %}</td>
                    <td><a href="">{% trans 'Associate' %}</a></td>
                {% endif %}
            </tr>
            <tr>
                <th>{% trans 'Twitter' %}:</th>
                {% if user.twitter_id %}
                    <td>{% trans 'Associated' %}</td>
                {% else %}
                    <td>{% trans 'Not associated' %}</td>
                    <td><a href="">{% trans 'Associate' %}</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% csrf_token %}
    <p class="text-center"><input type="submit"></p>
</form>

<a href="{% url 'accounts:index' %}">{% trans 'Back' %}</a>
