{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Sign up' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="signup">
        <div class="row my-4 mt-md-5">
            <div class="col-7">
                <h2>{% trans 'Sign up' %}</h2>
            </div>
            <div class="col-5">
                <a href="{% url 'accounts:login' %}" class="btn btn-inline-sub float-right">{% trans 'Log in' %}</a>
            </div>
        </div>
        {% include 'accounts/layouts/social-login.html' with mode='signup' %}
        <p class="text-center">{% trans 'or' %}</p>
        {% trans 'Register' as submit_text %}
        {% include 'layouts/form.html' with submit_text=submit_text %}
    </section>
</div>

{% endblock %}
