{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Sign up' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="signup">
        <div class="row my-4 mt-md-5">
            <div class="col-md-8">
                <h2>{% trans 'Sign up' %}</h2>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <a href="{% url 'accounts:login' %}" class="btn btn-inline-sub float-right mt-md-5">{% trans 'Log in' %}</a>
            </div>
        </div>
        {% trans 'Register' as submit_text %}
        {% include 'layouts/form.html' with submit_text=submit_text %}
        <div class="d-md-none">
            <a href="{% url 'accounts:login' %}" class="btn btn-inline-sub w-100 mt-4">{% trans 'Log in' %}</a>
        </div>
    </section>
</div>

{% endblock %}
