{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Verification complete' %}
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="verification">
        <h2 class="mt-4 mt-md-5">{% trans 'Verification complete' %}</h2>
        <p class="mt-4 mt-md-5">
            {% blocktrans %}Your email has been verified successfully.{% endblocktrans %}<br class="d-sm-none">
            {% blocktrans %}Enjoy using BooxMix.{% endblocktrans %}
        </p>
        <div class="row">
            <div class="col-md-5 order-sm-1 offset-md-2 mt-5">
                <a href="{% url 'main:playlist_create' %}" class="btn btn-main w-100">{% trans 'Create playlist' %}</a>
            </div>
            <div class="col-md-5 order-sm-0 mt-4 mt-md-5">
                <a href="{% url 'accounts:index' %}" class="btn btn-outline-sub w-100">{% trans 'My page' %}</a>
            </div>
        </div>
    </section>
</div>

{% endblock %}
