<!DOCTYPE html>

<html lang="ja">
<head>
    {% include 'layouts/head.html' %}
</head>

<body>
    {% include 'layouts/header.html' %}
    {% include 'layouts/drawer.html' %}
    <main id="content">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" role="alert" data-closable>
            {{ message|linebreaksbr }}
        </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </main>
    {% include 'layouts/footer.html' %}
    {% block script %}
    {% endblock %}
</body>
</html>
