<nav id="drawer" class="sticky">
    <div class="drawer-div drawer-div-first">
    </div>
    <div class="drawer-div">
        <p class="text-center"><a href="{% url 'main:index' %}">トップページ</a></p>
    </div>
    <div class="drawer-div">
        {% if not request.user.is_authenticated %}
        <p class="text-center"><a href="{% url 'accounts:login' %}">ログイン</a></p>
        <p class="text-center"><a href="{% url 'accounts:signup' %}">新規登録</a></p>
        {% else %}
        <p class="text-center"><a href="{% url 'accounts:index' %}">マイページ</a></p>
        <p class="text-center"><a href="{% url 'accounts:logout' %}">ログアウト</a></p>
        {% endif %}
    </div>
</nav>

<div id="dummy">
</div>
