{% load static %}
{% load i18n %}

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <label class="mt-3">{{ field.label }}</label>
    {{ field }}
    {{ field.errors }}
    {% endfor %}

    <div class="line-gray my-4"></div>
    {% for book_form, book_data in book_formset %}
    <div class="playlist-form-book-item" data-book="{{ book_data.id }}">
        <div class="row">
            <div class="col-4 col-sm-2">
                <img class="w-100" src="{{ book_data.cover | default_if_none:'' }}">
            </div>
            <div class="col-8 col-sm-10 pl-0">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>{{ forloop.counter }}. {{ book_data.title | default_if_none:'' }}</h3>
                        <h5 class="mt-3">{{ book_data.author | default_if_none:'' }}</h5>
                    </div>
                    <div class="col-sm-4">
                        <button
                            type="button"
                            data-book="{{ book_data.id }}"
                            class="delete-book btn btn-inline-sub mt-3 mt-sm-0 float-left float-sm-right text-sm"
                        >
                            {% trans 'Delete book' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            {{ book_form.description }}
            {{ book_form.description.errors }}
        </div>

        {% for hidden_field in book_form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
    </div>

    <div class="playlist-form-book-delete row" data-book="{{ book_data.id }}" style="display:none;">
        <div class="col-sm-9">
            <h4 class="font-weight-bold">{% blocktrans with book_data.title|default_if_none:'' as book_title %}"{{ book_title }}" will be delete.{% endblocktrans %}</h4>
        </div>
        <div class="col-sm-3">
            <button
                type="button"
                data-book="{{ book_data.id }}"
                class="restore-book btn btn-inline-sub float-left float-sm-right text-sm"
            >
                {% trans 'Restore to playlist' %}
            </button>
        </div>
    </div>
    {% endfor %}

    {{ formset.management_form }}
    <div class="row mt-2 mt-sm-4">
        <div class="col-sm-4">
            <input type="submit" class="btn btn-main w-100 mt-3 allow-duplicate" value="{% trans 'Add book' %}" name="add_book">
        </div>
        <div class="col-sm-4 offset-sm-4">
            <input type="submit" class="btn btn-outline-main w-100 mt-3" value="{% trans 'Complete' %}">
        </div>
    </div>
</form>
