{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Share Book Playlists on your SNS.' %}
{% endblock %}

{% block description %}
BooxMixは、気軽に本を複数冊まとめてプレイリストを作成し、SNSでシェアできるウェブサービスです。誰もが本屋の書店員さんのようにおすすめ本を選びTwitterで共有できます。本選びに悩む人も、リストから新しい本を発見できます。
{% endblock %}

{% block content %}

<section id="hero-pc" class="hero d-none d-md-block" style="background-image:url('{% static 'img/hero-pc.jpg' %}');">
    <div class="hero-content-pc container">
        <h1 class="hero-title-pc mt-2">{% trans 'Share your book recommendation <br>and let others motivative.' %}</h1>
        {# <h2 class="mt-4">{% trans 'Create playlist' %}</h2> #}
        <p class="mt-4">
            {% trans 'Let’s create your own book playlist on your phone. You can easily share it on your social network.' %}
        </p>
        <a href="{% url 'main:create_or_signup' %}" class="btn btn-main float-right mt-4">{% trans 'Create playlist' %}</a>

        {% comment %}
        <h2 class="mt-4">{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
        {% endcomment %}
    </div>
</section>

<section id="hero-sp" class="hero d-md-none" style="background-image:url('{% static 'img/hero-sp.jpg' %}');">
    <h1 class="hero-title-sp">{% trans 'Share your book recommendation <br>and let others motivative.' %}</h1>
</section>

<div class="container">
    <section id="index-create-playlist-sp" class="d-md-none">
        <h2 class="mt-4">{% trans 'Create book playlist' %}</h2>
        <p>
            {% trans 'Let’s create your own book playlist on your phone. You can easily share it on your social network.' %}
        </p>
        <a href="{% url 'main:create_or_signup' %}" class="btn btn-main w-100">{% trans 'Create' %}</a>
        <div class="line-gray my-4"></div>
    </section>

    <section id="index-theme-list">
        <h2 class="mt-5">{% trans 'Hot playlists' %}</h2>
        <div class="text-md d-none d-md-block">{% trans 'We picked up hot topics and playlists.' %}</div>
        {% for theme, playlists in themes %}
        <h3 class="mt-4 mt-md-5">
            <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="color-gray">
                #{{ theme.name }}
            </a>
        </h3>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=playlists %}
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% blocktrans with theme.name as theme %}Show all {{ theme }}{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        {% endfor %}
    </section>

    {% comment %}
    <section id="search-playlist" class="d-md-none">
        <h2>{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
    </section>
    {% endcomment %}
</div>

{% endblock %}
