{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Share Book Playlists on your SNS.' %} | BooxMix
{% endblock %}

{% block content %}

<section id="hero-pc" class="hero d-none d-md-block" style="background-image:url('{% static 'img/hero-pc.jpg' %}');">
    <div class="hero-content-pc container">
        <h1 class="hero-title-pc mt-2">{% trans 'Share Book Playlists<br>on your SNS.' %}</h1>
        {# <h2 class="mt-4">{% trans 'Create playlist' %}</h2> #}
        <h4 class="mt-4">{% trans 'Create your playlist in 2 minutes, and share it easily.' %}</h4>
        <a href="{% url 'main:playlist_create' %}" class="btn btn-main float-right mt-4">{% trans 'Create' %}</a>

        {% comment %}
        <h2 class="mt-4">{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
        {% endcomment %}
    </div>
</section>

<section id="hero-sp" class="hero d-md-none" style="background-image:url('{% static 'img/hero-sp.jpg' %}');">
    <h1 class="hero-title-sp">{% trans 'Share Book Playlists<br class="d-sm-none">on your SNS.' %}</h1>
</section>

<div class="container">
    <section id="index-create-playlist-sp" class="d-md-none">
        <h2 class="mt-4">{% trans 'Create playlist' %}</h2>
        <p>{% trans 'Create your playlist in 2 minutes, and share it easily.' %}</p>
        <a href="{% url 'main:playlist_create' %}" class="btn btn-main w-100">{% trans 'Create' %}</a>
        <div class="line-gray my-4"></div>
    </section>

    <section id="index-theme-list">
        <h2 class="mt-4 mt-md-5">{% trans 'Hot playlists' %}</h2>
        <span class="text-md">{% trans 'We picked up hot topics and playlists.' %}</span>
        {% for theme, playlists in themes %}
        <h3 class="mt-4 mt-md-5">
            <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="color-gray">
                #{{ theme.name }}
            </a>
        </h3>
        <div class="row">
            {% for playlist in playlists|dictsortreversed:"created_at" %}
                <div class="col-6 col-sm-3 mt-3 mt-md-4">
                    <a href="{% url 'main:playlist_detail' playlist.pk %}" class="color-gray">
                    {% if playlist.playlistbook_set.all.0.book.cover %}
                    <div class="" style="border-radius:16px;">
                        <div class="row no-gutters">
                            <div class="col-6">
                                <img src="{{ playlist.playlistbook_set.all.0.book.cover | default_if_none:'' }}" width="100%" height="100%" class="border-radius-left">
                            </div>
                            <div class="col-6">
                                <img src="{{ playlist.playlistbook_set.all.1.book.cover | default_if_none:'' }}" width="100%" height="100%" class="border-radius-right">
                            </div>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mt-2">{{ playlist.title }}</h4>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% blocktrans with theme.name as theme %}Show all {{ theme }}{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        {% endfor %}
    </section>

    {% comment %}
    <section id="search-playlist" class="d-md-none">
        <h2>{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
    </section>
    {% endcomment %}
</div>

{% endblock %}
