{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block json_ld %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "BooxMix",
    "headline": "{{ page_title }}",
    "description": "{{ page_description }}",
    "url": "{{ og_url }}",
    "image": "{{ og_image }}",
    "publisher": {
        "@type": "Organization",
        "name": "BooxMix"
    }
}
</script>
{% endblock %}

{% block content %}

{% trans 'Pick your favorite books<br>and share it to your friends!' as hero_title %}
{% trans 'Let’s create a book-playlist which contains your favorite books, and share it on your social network. ' as text_create_playlist %}

<section id="hero-pc" class="hero d-none d-md-block" style="background-image:url('{% static 'img/hero-pc.jpg' %}');">
    <div class="hero-content-pc container">
        <h1 class="hero-title-pc mt-2">{{ hero_title }}</h1>
        {# <h2 class="mt-4">{% trans 'Create playlist' %}</h2> #}
        <p class="mt-4">{{ text_create_playlist }}</p>
        <a href="{% url 'main:create_or_signup' %}" class="btn btn-main float-right mt-4">{% trans 'Create playlist' %}</a>

        {% comment %}
        <h2 class="mt-4">{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
        {% endcomment %}
    </div>
</section>

<section id="hero-sp" class="hero d-md-none" style="background-image:url('{% static 'img/hero-sp.jpg' %}');">
    <h1 class="hero-title-sp">{{ hero_title }}</h1>
</section>

<div class="container">
    <section id="index-create-playlist-sp" class="d-md-none">
        <h2 class="mt-4">{% trans 'Create book playlist' %}</h2>
        <p>{{ text_create_playlist }}</p>
        <a href="{% url 'main:create_or_signup' %}" class="btn btn-outline-main w-100">{% trans 'Create' %}</a>
        <div class="line-gray my-4"></div>
    </section>

    <section id="index-create-best3">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <a href="{% url 'main:playlist_create' %}?theme=best_3_in_2019&title=今年読んだ本ベスト３">
                    {% trans "Let's create Best 3 Books In This Year" as test_create_best3 %}
                    <img src="{% static 'main/img/best_3_in_this_year-hero.png' %}" alt="{{ test_create_best3 }}" width="100%" class="border-radius mb-4 mb-md-0 mt-md-5">
                </a>
            </div>
        </div>
    </section>

    <section id="index-howto">
        <div class="row pb-2 py-md-4">
            <div class="col-md-6">
                <h2 class="mt-3 mt-md-5 heading-lg">1.&nbsp;{% trans 'Easy to pick books' %}</h2>
                <p class="mt-3">{% trans 'Make your book-playlist on your smartphone. It is easier than any other blog services.' %}</p>
                <div class="row">
                    <div class="col-6 offset-3 col-md-4 col-offset-4">
                        <img src="{{ dummy_image }}" data-original="{% static 'img/howto-1.png' %}" alt="howto-1.png" width="100%" class="lazy mt-2">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mt-5 heading-lg">2.&nbsp;{% trans 'No more picture editing' %}</h2>
                <p class="mt-3">{% trans 'We make your favorite books into one picture automatically.' %}</p>
                <div class="row">
                    <div class="col-6 offset-3 col-md-4 col-offset-4">
                        <img src="{{ dummy_image }}" data-original="{% static 'img/howto-2.png' %}" alt="howto-2.png" width="100%" class="lazy mt-2">
                    </div>
                </div>
            </div>
        </div>

        <h2 class="heading-lg mt-5">3.&nbsp;{% trans 'Discover your “Want to Read” books' %}</h2>
        <p class="mt-3 pb-3">{% trans 'A lot of people are sharing book-playlists. Let’s look around and  find your “want to read” books.' %}</p>

        {# Recommended playlists #}
        <h3 class="mt-4 mt-md-5">
            {% trans 'Recommended playlists' %}
        </h3>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=playlists_recommended %}
        <div class="line-gray my-4 my-md-5"></div>

        {# Popular playlists #}
        <h3 class="mt-4 mt-md-5">
            <a href="{% url 'main:playlist' %}?ordering=popular" class="color-gray">
                {% trans 'Popular playlists' %}
            </a>
        </h3>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=playlists_popular %}
        <a href="{% url 'main:playlist' %}?ordering=popular" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?ordering=popular" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% blocktrans %}Show all popular playlists{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <div class="line-gray my-4 my-md-5"></div>

        {# Recent playlists #}
        <h3 class="mt-4 mt-md-5">
            <a href="{% url 'main:playlist' %}?ordering=recent" class="color-gray">
                {% trans 'Recent playlists' %}
            </a>
        </h3>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=playlists_recent %}
        <a href="{% url 'main:playlist' %}?ordering=recent" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?ordering=recent" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% blocktrans %}Show all recent playlists{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <div class="line-gray my-4 my-md-5"></div>

        {# Playlists by theme #}
        {% for theme in themes %}
        <h3 class="mt-4 mt-md-5">
            <a href="{% url 'main:playlist' %}{% if theme.slug is not None %}?theme={{ theme.slug }}{% endif %}" class="color-gray">
                {{ theme.tagged_name }}
            </a>
        </h3>
        {% include 'main/playlists/layouts/list-widget-small.html' with playlists=theme.playlist_set.all %}
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}?theme={{ theme.slug }}" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% blocktrans with theme.name as theme %}Show all {{ theme }}{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        {% endfor %}
    </section>

    {% trans "Why don't you create your first book-playlist?" as lets_create_text %}
    <section id="index-lets-create">
        <div class="d-md-none">
            <div class="line-gray my-4"></div>
            <h2 class="mt-sm-3">{{ lets_create_text }}</h2>
            <a href="{% url 'main:create_or_signup' %}" class="btn btn-main w-100 mt-3 mt-lg-4">{% trans 'Create playlist' %}</a>
        </div>
        <div class="d-none d-md-block">
            {% include 'main/playlists/layouts/lets-create-playlist.html' with lets_create_text=lets_create_text %}
        </div>
    </section>

    {% comment %}
    <section id="search-playlist" class="d-md-none">
        <h2>{% trans 'Search playlist' %}</h2>
        {% include 'layouts/form.html' with submit_text='Search' %}
    </section>
    {% endcomment %}
</div>

{% endblock %}
