{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Terms' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container">
    <section id="terms">
        <h1 class="mt-4 mt-md-5">{% trans 'Terms of BooxMix' %}</h1>

        <h3 class="mt-5">第1条（定義等）</h3>
        <p class="mt-3">
            BooxMix利用規約（以下「本規約」といいます）において使用する用語の意義は、次の各号に定めるとおりとします。
        </p>
        <ol>
            <li class="mt-3">
                「本サービス」とは、「BooxMix」と称するウェブサイト（https://booxmix.com/）上で提供される全てのサービスをいいます。
            </li>
            <li class="mt-3">
                「運営者」とは、BooxMix運営者のことをいいます。
            </li>
            <li class="mt-3">
                「ユーザー」とは、本サービスを利用するためのアカウントを運営者から発行された者をいいます。
            </li>
        </ol>

        <h3 class="mt-5">第2条（本規約の適用、変更等）</h3>
        <ol>
            <li class="mt-3">
                ユーザーは、本規約に従って本サービスを利用するものとします。ユーザーが本サービスを利用することによって、本規約の内容を承諾したものとみなします。
            </li>
            <li class="mt-3">
                運営者は、いつでも任意の理由により、ユーザーに事前に通知することなく、本規約を変更、追加、及び削除をすることができるものとします。本規約の変更等が行われた後、ユーザーが本サービスを利用することによって、変更等が行われた後の本規約の内容を承諾したものとみなします。
            </li>
        </ol>

        <h3 class="mt-5">第3条（通知、連絡等）</h3>
        <ol>
            <li class="mt-3">
                運営者が通知、連絡等を行う必要があると判断した場合、電子メール、本サービスのウェブページへの掲載など、運営者が適当と判断する方法により行うものとします。
            </li>
            <li class="mt-3">
                前項における電子メールによる通知、連絡等は、ユーザーが運営者に登録している電子メールアドレスに対して行うものとします。
            </li>
            <li class="mt-3">
                運営者が本条第1項の通知、連絡等を本サービスのウェブページ上で行う場合は、当該通知、連絡等をウェブページに掲載した日をもって、ユーザーに当該通知、連絡等が到達したものとみなします。また電子メールによって通知、連絡等を行う場合には、運営者がユーザーに対して電子メールを発信した時点をもって、ユーザーに当該通知、連絡等が到達したものとみなします。
            </li>
            <li class="mt-3">
                ユーザーが運営者に連絡をする場合、運営者が他の方法を指定する場合を除き、お問い合わせフォームにて連絡を行うものとします。運営者は、原則として電話、来訪による連絡はお受けいたしません。
            </li>
        </ol>

        <h3 class="mt-5">第4条（付加サービス）</h3>
        <ol>
            <li class="mt-3">
                運営者又は運営者と提携する事業者が、本サービス以外に付加サービスをユーザーに提供することがありますが、当該付加サービスの利用に関する詳細及び規約は別途定められた規定に従うものとします。
            </li>
            <li class="mt-3">
                付加サービスに関する事項で、付加サービスの規約に定めのない事項については、本規約の規定を準用するものとします。
            </li>
        </ol>

        <h3 class="mt-5">第5条（利用申込等）</h3>
        <ol>
            <li class="mt-3">
                本サービスの利用を希望する者は、運営者が定める手続きに基づき本サービスの利用を申し込むものとします。
            </li>
            <li class="mt-3">
                運営者は、ユーザーに本人確認等のための資料の提出を求めることができるものとします。
            </li>
            <li class="mt-3">
                本条第1項又は第3項の申込をした者が次の各号のいずれかに該当する場合、運営者は、本サービスの利用をお断りすること、及び本規約第11条に基づく対処を行うことができるものとします。運営者は、本サービスの利用をお断りした理由について開示しないものとします。
                <ol>
                    <li class="mt-2">登録内容に虚偽があった場合</li>
                    <li class="mt-2">過去に運営者が運営するサービスの利用資格を停止、又は退会をさせられた者であった場合</li>
                    <li class="mt-2">その他運営者が不適切だと判断した場合</li>
                </ol>
            </li>
        </ol>

        <h3 class="mt-5">第6条（登録情報の変更）</h3>
        <ol>
            <li class="mt-3">ユーザーは運営者に登録した情報に変更があった場合、速やかに運営者が定める手続きに基づき登録情報の変更を行うものとします。この登録情報の変更はユーザー自身で行うものとし、運営者へのメール又はお問い合わせフォームを通じての内容変更依頼は無効とします。</li>
            <li class="mt-3">前項の変更手続きがなされなかったことにより生じた損害について、運営者は一切責任を負わないものとします。</li>
        </ol>

        <h3 class="mt-5">第7条（退会）</h3>
        <ol>
            <li class="mt-3">ユーザーは本サービスを退会する場合、運営者の定める手続きに基づき、退会を行うものとします。</li>
            <li class="mt-3">退会後、運営者はユーザーのデータ及び登録情報を削除できるものとし、削除によりユーザーが損害を被ったとしても、運営者は一切その責任を負わないものとします。</li>
        </ol>

        <h3 class="mt-5">第8条（本サービスの内容の変更、一時中断、及び廃止）</h3>
        <ol>
            <li class="mt-3">
                運営者は、ユーザーに事前に通知することなく本サービスの内容の変更を行うことができるものとします。
            </li>
            <li class="mt-3">
                運営者は、安定した運営に最善を尽くしていますが、以下の各号のいずれかに該当する場合には、ユーザーに事前に通知することなく一時的に本サービスを中断することができるものとします。
                <ol>
                    <li class="mt-2">サーバ、通信回線若しくはその他の設備の故障、障害の発生又はその他の事由により本サービスの提供ができなくなった場合</li>
                    <li class="mt-2">システム(サーバ、通信回線や電源、それらを収容する建築物などを含む)の保守、点検、修理、変更を定期的に又は緊急に行う場合</li>
                    <li class="mt-2">火災、停電などにより本サービスの提供ができなくなった場合</li>
                    <li class="mt-2">地震、噴火、洪水、津波などの天災により本サービスの提供ができなくなった場合</li>
                    <li class="mt-2">戦争、変乱、暴動、騒乱、労働争議、疫病の蔓延等その他不可抗力により本サービスの提供ができなくなった場合</li>
                    <li class="mt-2">法令による規制、司法命令等が適用された場合</li>
                    <li class="mt-2">その他、運用上、技術上運営者が本サービスの一時的な中断を必要と判断した場合</li>
                </ol>
            </li>
            <li class="mt-3">
                運営者は、いつでも任意の理由により、ユーザーに事前に通知することなく本サービスの全部又は一部を廃止することができるものとします。
            </li>
            <li class="mt-3">
                運営者は、本サービスの内容の変更、一時中断、及び廃止によりユーザーに生じた損害について、一切その責任を負わないものとします。
            </li>
        </ol>

        <h3 class="mt-5">第9条（ユーザーの義務）</h3>
        <ol>
            <li class="mt-3">
                ユーザーは、本サービスを利用するために必要な通信機器、ソフトウェア、通信回線などのすべてを自己の負担において、準備するものとします。また、自己の費用で電気通信サービスを利用して本サービスの存在するサーバへ接続するものとします。そのために必要な手続きはユーザーが自己の責任と費用をもって行なうものとします。
            </li>
            <li class="mt-3">
                本サービスを利用するためのIDとパスワードはユーザーが責任をもって管理するものとします。IDとパスワードを利用して行われた行為の責任は当該IDを保有しているユーザーの責任とみなします。IDとパスワードの漏洩、不正使用などから生じた損害については、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                ユーザーは、第三者が著作権、商標権、意匠権等の知的財産権を有する著作物、標章、サービスマーク、デザイン、表示等を運営者が提供する本サービス上に登録、掲載する場合は、ユーザーが当該知的財産権保持者より許諾を得る必要があり、運営者はこれについて一切関与しないものとします。
            </li>
            <li class="mt-3">
                ユーザーは，サーバに保存されたデータ等の毀滅に備えて、ユーザーの責任において定期的にその複製を行うものとします。
            </li>
        </ol>

        <h3 class="mt-5">第10条（コメント等の利用許諾等）</h3>
        <ol>
            <li class="mt-3">
                ユーザーが本サービスを利用して投稿する、書籍等の商品についての意見、評価、感想、論評等を表現したもの（以下、「コメント等」といいます。）の著作権は、当該コメント等の著作者に帰属するものとします。ただし、ユーザーは、コメント等を投稿等した時点から、運営者が、当該コメント等を無償・無期限にて利用（複製、公衆送信、複写、第三者への再許諾その他の国内外におけるあらゆる利用を含みます。）することを非独占的に許諾するものとします。
            </li>
            <li class="mt-3">
                前項のうち「コメント」については、ユーザーは、運営者又は運営者が提携する第三者による当該コメントの利用の一部を許諾しない旨を、運営者所定の方法により申し出ることができるものとします。当該申し出がなされた場合、運営者は手続きのために必要な期間経過後、申出にかかるコメントの利用を一部停止するものとします。ただし、ユーザーは、申出の時点において、既に利用が開始されていた場合又は、出版物、書籍の帯紙への掲載等利用方法の種類によっては、利用を許諾しない旨の申出が行えない場合があることに予め同意するものとします。
            </li>
            <li class="mt-3">
                ユーザーは、第１項の許諾を行う場合には、運営者が要約、抜粋等による改変を行うことに予め承諾するものとし、運営者または運営者が利用を再許諾した第三者に対し、著作者人格権（公表権・氏名表示権・同一性保持権）を行使しないものとします。
            </li>
            <li class="mt-3">
                ユーザーは、コメント等の著作権等を第三者から譲り受け若しくは利用の許諾を受け、又は第三者に譲渡する場合には、当該第三者に対し、前三項の利用につき承諾を得るものとし、承諾がなかったことによるトラブル等に関しては、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                運営者は、コメント等を個人が特定できる情報を除去した上で、サービス運営の参考資料やマーケティングデータ等として活用し、または第三者に提供することができるものとします。
            </li>
            <li class="mt-3">
                コメント等は、利用者の責任において投稿されるものであり、運営者は、コメント等の内容の正確性、信頼性、目的適合性、非侵害性につき一切保証しないものとします。
            </li>
        </ol>

        <h3 class="mt-5">第11条（禁止事項）</h3>
        <ol>
            <li class="mt-3">
                ユーザーは本サービスを利用するにあたり、下記に該当する行為又はそのおそれがある行為を行ってはならないものとします。
                <ol>
                    <li class="mt-2">法令に違反する行為、犯罪行為、及びそれらを教唆・幇助する行為</li>
                    <li class="mt-2">第三者（運営者及び他のユーザーを含む。本条において以下同じ。）の知的財産権（特許権、実用新案権、意匠権、商標権、著作権等）及びその他の権利を侵害する行為</li>
                    <li class="mt-2">第三者のプライバシー、肖像権を侵害する行為</li>
                    <li class="mt-2">第三者の名誉、信用を毀損する行為</li>
                    <li class="mt-2">第三者を誹謗中傷する行為</li>
                    <li class="mt-2">第三者を脅迫する行為</li>
                    <li class="mt-2">第三者に不快感を与える行為</li>
                    <li class="mt-2">第三者の個人情報の譲渡、譲受又は売買をする行為</li>
                    <li class="mt-2">未成年者にとって有害と認められる情報を掲載する行為</li>
                    <li class="mt-2">不倫・援助交際・売春・買春等の情報を掲載する行為</li>
                    <li class="mt-2">殺人、自殺、自傷行為の方法などを掲載し、又はかかる行為を肯定・勧誘・助長する行為</li>
                    <li class="mt-2">人の死体、裸体、児童ポルノ、人を殺傷する現場若しくは児童虐待に相当するおそれのある情報を掲載する行為</li>
                    <li class="mt-2">不潔又はグロテスク等一般人が不快感を覚える内容の情報を掲載する行為</li>
                    <li class="mt-2">差別的表現を含む情報を掲載する行為</li>
                    <li class="mt-2">明らかに誤り、不正確、誤解を生じやすい情報を掲載する行為</li>
                    <li class="mt-2">無限連鎖講（ネズミ講）を開設し、又はこれを勧誘・運営する行為</li>
                    <li class="mt-2">ID、パスワード等を第三者に譲渡・貸与し、又は運営者の許可なく本サービスを第三者に利用させる行為</li>
                    <li class="mt-2">チェーンメールの送信、又は無差別若しくは大量に不特定多数の者に対して電子メールを送信する行為</li>
                    <li class="mt-2">サーバ又はネットワークへ著しく負荷をかける行為</li>
                    <li class="mt-2">サーバその他運営者のコンピュータに他人になりすましてアクセスする行為、その他不正にアクセスする行為</li>
                    <li class="mt-2">本サービスのプログラムのバグ等の不具合の利用又は悪用をする行為</li>
                    <li class="mt-2">不正アクセス行為の禁止等に関する法律に違反する行為、電子計算機損壊等業務妨害罪（刑法第234条の2）に該当する行為の他、運営者及び第三者のコンピューターに対して不正な操作を行う行為</li>
                    <li class="mt-2">本サービス上に掲載された情報、又は運営者のサーバ若しくはコンピュータに登録された情報を改ざんする行為</li>
                    <li class="mt-2">コンピューターウィルス等有害なプログラムを使用又は提供する行為</li>
                    <li class="mt-2">登録情報に虚偽の内容を登録する行為</li>
                    <li class="mt-2">公序良俗に反する行為若しくはそれを助長する行為、又は公序良俗に反する情報を掲載する行為</li>
                    <li class="mt-2">その他、運営者が不適切と判断する行為</li>
                </ol>
            </li>
            <li class="mt-3">
                ユーザーは、運営者の承諾なしに本サービスのユーザーとして有する権利を第三者に転売、再販売、譲渡、若しくはこれに類する行為、又は質権の設定その他担保に供する行為等はできないものとします。
            </li>
        </ol>

        <h3 class="mt-5">第12条（本規約違反等への対処）</h3>
        <ol>
            <li class="mt-3">
                運営者は、ユーザーが本規約に違反した若しくはそのおそれがある場合、又は、ユーザーによる本サービスの利用に関し第三者から運営者に対しクレーム、請求等がなされ、かつ運営者が必要と認めた場合、若しくは、その他の理由で本サービスの運営上不適当と運営者が判断した場合は、当該ユーザーに対し、事前に通知することなく、次の措置のいずれか又はこれらを組み合わせた措置を講ずることができるものとし、ユーザーはこれに従うものとします。
                <ol>
                    <li class="mt-2">本規約に違反する行為、又はそのおそれのある行為を中止すること、及び同様の行為を繰り返さないよう要請すること（注意喚起、勧告、事後通知等を含む。以下同じ。）</li>
                    <li class="mt-2">第三者との間で、クレーム等の解消のための協議を行うよう要請すること</li>
                    <li class="mt-2">ユーザーが本サービスを利用して登録、又は公開する情報等を削除することを要請すること</li>
                    <li class="mt-2">その他、運営者が適切と判断する措置を行うようユーザーに要請すること</li>
                    <li class="mt-2">ユーザーが本サービスを利用して登録、又は公開する情報等の全部若しくは一部を削除し、又は閲覧できない状態にすること</li>
                    <li class="mt-2">本サービスの利用停止措置を講じること</li>
                    <li class="mt-2">本サービスの利用契約の解除、及びを行うこと</li>
                    <li class="mt-2">適切な管轄省庁、捜査機関、仲裁機関、又は裁判所へ通報、相談し、若しくは民事上、刑事上の救済措置を講じること</li>
                    <li class="mt-2">運営者に生じた損害の賠償請求をすること</li>
                    <li class="mt-2">その他、運営者が適切と判断する措置を講じること</li>
                </ol>
            </li>
            <li class="mt-3">
                前項の規定は、運営者にユーザーの行為を監視する義務、及び前項の定める措置を講ずべき義務を課すものではありません。運営者が前項に定める措置を講じなかったことによりユーザー又は第三者が被った損害について、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                運営者が本条第1項に定める措置を講じた場合に、当該措置に起因する結果に関して、運営者は一切その責任を負わないものとします。
            </li>
        </ol>

        <h3 class="mt-5">第13条（個人情報）</h3>
        <ol>
            <li class="mt-3">
                運営者が取得したユーザーの個人情報は、運営者が別途定めるプライバシーポリシー（ http://booxmix.com/privacy ）に従って取り扱うものとします。
            </li>
        </ol>

        <h3 class="mt-5">第14条（免責等）</h3>
        <ol>
            <li class="mt-3">
                運営者は、本サービスの内容、ユーザーが本サービスを通じて得る情報、及び、情報の利用により得た成果等について、その完全性、正確性、確実性、有用性、合法性等いかなる保証も行いません。
            </li>
            <li class="mt-3">
                ユーザーが本サービスに登録した情報及び本サービスを通じてやりとりされる情報等は、不慮のシステムトラブル等により失われることがあります。運営者は、情報のバックアップの義務及び失われた情報の修復の義務は負わないものとし、かかる事態で生じた損害について、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                本サービスの利用に供する装置、ソフトウェア又は通信網の瑕疵、障害、動作不良、又は不具合により、ユーザーに損害が生じた場合、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                本サービスにおいて、ユーザー間又はユーザーと第三者の間で生じたトラブル（ユーザーが第9条第3項の許諾を得ていない場合を含む）に関して、運営者は一切その責任を負わないものとします。この場合、他の本サービスのユーザー又は第三者が運営者に対して責任を追及したために運営者が防御費用（弁護士報酬及び訴訟費用を含む）、損害賠償金の支払い、和解金の支払いその他の損害を被り又は費用の支出をしたときは、ユーザーは直ちに運営者の損害及び支出した費用を補償するものとします。
            </li>
            <li class="mt-3">
                運営者は、次に掲げる場合には、ユーザーが登録した情報も含めて、本サービスのサーバ上の全ての情報を閲覧したり、保存したり、第三者に開示すること（以下「閲覧等」とします）ができるものとします。それによって生じたいかなる損害についても、運営者は一切その責任を負わないものとします。なお、本項の規定は、運営者に閲覧等を行うべき義務を課すものではありません。
                <ol>
                    <li class="mt-2">本規約違反の有無等を確認する必要があるとき</li>
                    <li class="mt-2">人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があるとき</li>
                    <li class="mt-2">裁判所や警察などの公的機関から、法令に基づく正式な照会を受けたとき</li>
                    <li class="mt-2">本サービスの技術的不具合を解消するために必要なとき</li>
                    <li class="mt-2">ユーザーが閲覧等に同意したとき</li>
                    <li class="mt-2">運営者が閲覧等の同意を求めた後、これを拒否する旨の当該ユーザーの回答が運営者に到達しなかったとき</li>
                    <li class="mt-2">その他本サービスを適切に運営するために必要が生じたとき</li>
                </ol>
            </li>
            <li class="mt-3">
                本サービス上に他のウェブサイトへのリンクが設置されている場合、そのリンク先のサイト等については、運営者は一切関与しません。当該サイト上のコンテンツ、広告、商品、役務などについて、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                本サービスへのアクセス過多、その他予期せぬ要因で本サービスの表示速度の低下や障害等が生じた場合、それによって生じたいかなる損害についても、運営者は一切その責任を負わないものとします。
            </li>
            <li class="mt-3">
                本サービスの利用に関してユーザーに損害が発生した場合、本規約に特段の定めのない限り、運営者は損害賠償責任を負わないものとします。
            </li>
        </ol>

        <h3 class="mt-5">第15条（提携サービスの利用）</h3>
        <ol>
            <li class="mt-3">
                ユーザーは、運営者が本サービス上に設置したリンクを経由して、本サービスと提携する第三者の提供するサービス（以下、「提携サービス」といいます。）のサイトに遷移し、提携サービスを利用して書籍等の商品を購入することができます。この場合、ユーザーは、提携サービスの利用規約等に従い提携サービスを利用するものとし、商品の売買契約等は全て、ユーザーと提携サービスの提供者との間に成立するものとします。
            </li>
            <li class="mt-3">
                ユーザーは、提携サービスの提供主体が運営者ではないことを認識の上これを利用するものとし、提携サービス上の表示、取扱い商品、又はその購入等に関する問い合わせは、全て提携サービスの提供主体に対して行うものとします。
            </li>
            <li class="mt-3">
                運営者は、提携サービスの利用又は提携サービスを利用できなかったことによりユーザーに生じた損害（第三者との間で生じたトラブルに起因する損害を含みます。）に関し、一切責任を負いません。
            </li>
            <li class="mt-3">
                Web、アプリにおける各キャンペーンは運営者が独自に行うものであり、米Apple社とは一切関係がありません。
            </li>
        </ol>

        <h3 class="mt-5">第16条（本規約の有効性）</h3>
        <ol>
            <li class="mt-3">
                本規約の規定の一部が法令・判決・命令等に基づいて無効と判断されても、本規約のその他の規定は有効とします。
            </li>
            <li class="mt-3">
                本規約の規定の一部があるユーザーとの関係で無効とされ、又は取り消された場合でも、本規約はその他のユーザーとの関係では有効とします。
            </li>
        </ol>

        <h3 class="mt-5">第17条（準拠法、管轄裁判所等）</h3>
        <ol>
            <li class="mt-3">
                本規約の成立、効力、履行及び解釈に関しては、日本国法が適用されるものとします。
            </li>
            <li class="mt-3">
                本規約の解釈を巡って疑義が生じた場合、運営者は合理的な範囲でその解釈を決定できるものとします。
            </li>
            <li class="mt-3">
                運営者とユーザーとの間におけるすべての紛争については、訴額に応じて東京簡易裁判所又は東京地方裁判所を第一審の専属的合意管轄裁判所とします。
            </li>
        </ol>
    </section>
</div>

{% endblock %}
