{% load static %}
{% load i18n %}

<nav id="drawer" class="sticky">
    <div class="drawer-div drawer-div-first">
    </div>
    <div class="drawer-div">
        <p class="text-center"><a href="{% url 'main:index' %}">{% trans 'TOP' %}</a></p>
    </div>
    <div class="drawer-div">
        {% if not request.user.is_authenticated %}
        <p class="text-center"><a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a></p>
        <p class="text-center"><a href="{% url 'accounts:signup' %}">{% trans 'Sign up' %}</a></p>
        {% else %}
        <p class="text-center"><a href="{% url 'accounts:index' %}">{% trans 'My page' %}</a></p>
        <p class="text-center"><a href="{% url 'accounts:settings' %}">{% trans 'Settings' %}</a></p>
        <p class="text-center"><a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a></p>
        {% endif %}
    </div>
</nav>

<div id="dummy">
</div>
