{% load static %}
{% load i18n %}

<form action="" method="post">{% csrf_token %}
    {% if form.errors %}
    <div class="mt-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    {% for field in form %}
    <div class="mt-2">
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="row mt-4 mt-md-5">
        <div class="col-sm-3 offset-sm-6 order-sm-1">
            <input type="submit" class="btn btn-main w-100" value="{{ submit_text }}">
        </div>
        <div class="col-sm-3 order-sm-0 mt-5 mt-sm-0">
            <a href="{% url back_url %}" class="btn btn-outline-sub w-100">
                <i class="fas fa-angle-left"></i> {{ back_text }}
            </a>
        </div>
    </div>
</form>
