{% load i18n %}
<h2>{{ title }}</h2>

<form action="" method="post">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit">
</form>

<a href="{% url 'main:playlist_create_book' %}">{% trans 'Add book' %}</a>

{% if 'complete' in request.META.HTTP_REFERER or 'create/book' in request.META.HTTP_REFERER %}
<a href="{% url 'accounts:index' %}">{% trans 'Back' %}</a>
{% else %}
<a href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>
{% endif %}
