{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Delete playlist' %} | BooxMix
{% endblock %}

{% block content %}

<div class="container container-slim">
    <section id="playlist-delete">
        <h2 class="mt-4">{% trans 'Delete playlist' %}</h2>
        <form method="post">{% csrf_token %}
            <h4 class="mt-5 font-weight-bold">{% blocktrans %}Are you sure you want to delete "{{ playlist }}"?{% endblocktrans %}</h4>
            <h5 class="mt-4">{% blocktrans %}Note: You can't cancel this action.{% endblocktrans %}</h5>
            <div class="row">
                <div class="col-sm-3 d-none d-sm-block">
                    <a
                        href="{% url 'main:playlist_update' playlist.category.slug playlist.pk %}" class="btn btn-outline-sub w-100 mt-5">
                        <i class="fas fa-angle-left"></i> {% trans 'Back' %}
                    </a>
                </div>
                <div class="col-sm-3 offset-sm-6">
                    <input type="submit" class="btn btn-sub w-100 mt-5" value="{% trans 'Delete' %}">
                </div>
            </div>
        </form>
        <a href="{% url 'main:playlist_update' playlist.category.slug playlist.pk %}" class="btn btn-inline-sub d-sm-none mt-4">
            <i class="fas fa-angle-left"></i> {% trans 'Back' %}
        </a>
    </section>
</div>

{% endblock %}
