{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ playlist.title }} | BooxMix
{% endblock %}

{% block content %}

<div class="container">
    <section id="playlist-detail-overview">
        <h1 class="mt-4 mt-md-5 playlist-detail-title">{{ playlist.title | default_if_none:'' }}</h1>
        <h4 class="mt-3">{{ playlist.user.username | default_if_none:'' }}</h4>
        {% if request.user == playlist.user %}
        <div class="row">
            <div class="col-md-9">
        {% endif %}
                <p class="mt-4">{{ playlist.description | default_if_none:'' | linebreaksbr }}</p>
        {% if request.user == playlist.user %}
            </div>
            <div class="col-md-3">
                <a href="{% url 'main:playlist_update' playlist.category.slug playlist.pk %}" class="btn btn-outline-sub w-100 mt-md-4">
                    {% trans 'Edit' %}
                </a>
            </div>
        </div>
        {% endif %}
        <div class="row mt-4{% if request.user == playlist.user %} mt-md-0{% endif %}">
            <div class="col-2 col-md-1 offset-3 offset-md-9 text-center">
                <i class="fab fa-twitter fa-twitter-color fa-2x"></i>
            </div>
            <div class="col-2 col-md-1 text-center">
                <i class="fab fa-facebook fa-facebook-color fa-2x"></i>
            </div>
            <div class="col-2 col-md-1 text-center">
                <i class="fab fa-instagram fa-2x"></i>
            </div>
        </div>
    </section>

    <section id="playlist-detail-books">
        {% for playlist_book in playlist.playlistbook_set.all %}
        <div class="playlist-book-item">
            <div class="line-gray my-4"></div>
            <div class="row">
                <div class="col-5 col-sm-3 col-lg-2">
                    {% if playlist_book.book.cover %}
                    <img class="w-100" src="{{ playlist_book.book.cover | default_if_none:'' }}">
                    {% else %}
                    <div class="blank-box-wrapper no-image-wrapper">
                        <div class="blank-box-content no-image-content">
                            <div class="d-flex align-items-center h-100">
                                <h3 class="text-sm text-center w-100">{% trans 'No Image' %}</h3>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-7 col-sm-6 col-lg-7 pl-0">
                    <h3>{{ forloop.counter }}. {{ playlist_book.book.title | default_if_none:'' }}</h3>
                    <h5 class="">{{ playlist_book.book.author | default_if_none:'' }}</h5>
                    <p class="d-none d-sm-block mt-4">{{ playlist_book.description | default_if_none:'' | linebreaksbr }}</p>
                    <a href="{{ playlist_book.book.amazon_url | default_if_none:'' }}" target=”_blank” class="btn btn-main d-sm-none w-100 mt-4 mt-sm-0">
                        {% trans 'Show more' %}
                    </a>
                </div>
                <div class="col-sm-3 d-none d-sm-block">
                    <a href="{{ playlist_book.book.amazon_url | default_if_none:'' }}" target=”_blank” class="btn btn-main w-100">
                        {% trans 'Show more' %}
                    </a>
                </div>
            </div>
            <p class="mt-3 d-sm-none">{{ playlist_book.description | default_if_none:'' | linebreaksbr }}</p>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}
