{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ playlist.title }} | BooxMix
{% endblock %}

{% block ogp %}
<meta property="og:title" content="{{ playlist.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{{ playlist.card.url }}" />
<meta property="og:description" content="{{ playlist.description | truncatechars:100 }}" />
<meta property="og:site_name" content="BooxMix" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@BooxMix" />
{% endblock %}

{% block content %}

<div class="container">
    <section id="playlist-detail-overview">
        <h1 class="mt-4 mt-md-5 playlist-detail-title">{{ playlist.title | default_if_none:'' }}</h1>
        <a href="{% url 'accounts:profile' playlist.user.username %}" class="color-gray text-xl mt-3">
            {{ playlist.user.username | default_if_none:'' }}
        </a>
        {% if request.user == playlist.user %}
        <div class="row">
            <div class="col-md-9">
        {% endif %}
                <p class="mt-4">{{ playlist.description | default_if_none:'' | linebreaksbr }}</p>
        {% if request.user == playlist.user %}
            </div>
            <div class="col-md-3">
                <a href="{% url 'main:playlist_update' playlist.pk %}" class="btn btn-outline-sub w-100 my-md-4">
                    {% trans 'Edit' %}
                </a>
            </div>
        </div>
        {% endif %}
        <div class="row mt-4{% if request.user == playlist.user %} mt-md-0{% endif %}">
            <div class="col-2 col-md-1 offset-3 offset-md-9 text-center">
                <a
                    href="https://twitter.com/intent/tweet?text={{ playlist.title }}&url={{ request.build_absolute_uri|urlencode }}"
                    target="_blank"
                >
                    <i class="fab fa-twitter fa-twitter-color fa-2x"></i>
                </a>
            </div>
            <div class="col-2 col-md-1 text-center">
                <i class="fab fa-facebook fa-facebook-color fa-2x"></i>
            </div>
            <div class="col-2 col-md-1 text-center">
                <i class="fab fa-instagram fa-2x"></i>
            </div>
        </div>
    </section>

    <section id="playlist-detail-books">
        {% for playlist_book in playlist.playlist_book_set.all %}
        <div class="playlist-book-item">
            <div class="line-gray my-4"></div>
            <div class="row">
                <div class="col-5 col-sm-3 col-lg-2">
                    {% if playlist_book.book.data.cover %}
                    <img class="w-100" src="{{ playlist_book.book.data.cover | default_if_none:'' }}">
                    {% else %}
                    <div class="blank-box-wrapper no-image-wrapper">
                        <div class="blank-box-content no-image-content">
                            <div class="d-flex align-items-center h-100">
                                <span class="text-sm text-center font-weight-bold w-100">{% trans 'No Image' %}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-7 col-sm-6 col-lg-7 pl-0">
                    <h2 class="text-xl">{{ forloop.counter }}. {{ playlist_book.book.data.title | default_if_none:'' }}</h2>
                    <span>{{ playlist_book.book.data.author | default_if_none:'' }}</span>
                    <p class="d-none d-sm-block mt-4">{{ playlist_book.description | default_if_none:'' | linebreaksbr }}</p>
                    {% if playlist_book.book.data.affiliate_url %}
                    <a href="{{ playlist_book.book.data.affiliate_url | default_if_none:'' }}" target=”_blank” class="btn btn-main d-sm-none w-100 mt-4 mt-sm-0">
                        {% trans 'Show more' %}
                    </a>
                    {% endif %}
                </div>
                {% if playlist_book.book.data.affiliate_url %}
                <div class="col-sm-3 d-none d-sm-block">
                    <a href="{{ playlist_book.book.data.affiliate_url | default_if_none:'' }}" target=”_blank” class="btn btn-main w-100">
                        {% trans 'Show more' %}
                    </a>
                </div>
                {% endif %}
            </div>
            <p class="mt-3 d-sm-none">{{ playlist_book.description | default_if_none:'' | linebreaksbr }}</p>
        </div>
        {% endfor %}
    </section>

    <section id="playlist-detail-user">
        <h2 class="mt-5">{% trans 'Who created this playlist?' %}</h2>
        <div class="bg-gray border-radius px-2 py-3 mt-4">

            <h3>
                <a href="{% url 'accounts:profile' playlist.user.username %}" class="color-gray text-lg mt-3">
                    {{ playlist.user.username | default_if_none:'' }}
                </a>
            </h3>
            <p class="mb-0">{{ playlist.user.comment | default_if_none:'' }}</p>
        </div>
    </section>

    <section id="playlist-defailt-others">
        <div class="line-gray my-5"></div>
        <h2>
            {% if playlist.theme %}
            {% trans 'Playlists with same theme' %}
            {% else %}
            {% trans 'These are also recommended' %}
            {% endif %}
        </h2>
        {% include 'main/playlist/layouts/list-widget-small.html' with playlists=other_playlists %}
        <a href="{% url 'main:playlist' %}{% if playlist.theme %}?theme={{ playlist.theme.slug }}{% endif %}" class="btn btn-outline-sub w-100 d-md-none my-3">
            {% blocktrans %}Show all{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
        </a>
        <a href="{% url 'main:playlist' %}{% if playlist.theme %}?theme={{ playlist.theme.slug }}{% endif %}" class="btn btn-inline-sub d-none d-md-inline-block mt-3">
            {% if playlist.theme %}
            {% blocktrans with playlist.theme.name as theme %}Show all {{ theme }}{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
            {% else %}
            {% blocktrans with playlist.theme.name as theme %}Show more playlists{% endblocktrans %}&nbsp;<i class="fas fa-chevron-right"></i>
            {% endif %}
        </a>
    </section>

    <section id="playlist-detail-lets-create">
        <div class="mt-5">
            {% include 'main/playlist/layouts/lets-create-playlist.html' with theme=playlist.theme %}
        </div>
    </section>
</div>

{% endblock %}
