{% load i18n %}
<h2>{{ title }}</h2>

<form action="" method="post">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit">
</form>

<table>
    <tbody>
        {% for playlist in playlists %}
        <tr>
            <th>{{ forloop.counter }}.</th>
        </tr>
        <tr>
            <th>{% trans 'title' %}:</th>
            <td>{{ playlist.title }}</td>
        </tr>
        <tr>
            <th>{% trans 'category' %}:</th>
            <td>{{ playlist.category }}</td>
        </tr>
        <tr>
            <th>{% trans 'description' %}:</th>
            <td>{{ playlist.description }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>{% trans 'No data' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'main:index' %}">{% trans 'Back' %}</a>
