{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% if params.q %}
{{ params.q }}
{% else %}
{% trans 'All Playlists' %}
{% endif %}
 | BooxMix
{% endblock %}

{% block content %}

<div class="container">
    {% if params.q %}
    <section id="search-playlist-wide">
        <div class="mt-4">
            {% include 'main/playlist/layouts/search-playlist-wide.html' %}
        </div>
    </section>
    {% endif %}

    <section id="playlist-page-title">
        <div class="mt-4 mt-md-5">
            {% if params.q %}
            <h2 class="d-none d-md-inline-block">{% blocktrans with q=params.q %}Playlists related with "{{ q }}"{% endblocktrans %}</h2>
            {% else %}
            <h1>{% trans 'All Playlists' %}</h1>
            {% endif %}
        </div>
    </section>

    <section id="search-loading" class="search-loading">
        {% include 'layouts/loading-spinner.html' %}
    </section>

    <section id="playlist-list" class="search-results">
        <div class="line-gray mt-4 mb-5 d-none"></div>
        {% include 'main/playlist/layouts/list-widget.html' %}
        {% include 'layouts/pagenator.html' with params=params queryset=playlists %}
    </section>
</div>

{% endblock %}
